## Домашнее задание «Библиотека Pandas»

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
# открываю файл с рейтингами - смотрю
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# смотрю информацию о столбцах в файле с рейтингами
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [4]:
# нахожу id фильма с наибольшим количеством оценок среди строк с рейтингом 5.0
rating_5 = ratings[ratings.rating == 5]
max_5_rating = rating_5['movieId'].value_counts().head(1)
best_movie_id = int(max_5_rating.keys()[0])
best_movie_id

318

In [6]:
# открываю файл с фильмами, выбираю строку, которая соответвует найденному выше id фильма с наибольшим количеством оценок 5.0
movies = pd.read_csv('ml-latest-small/movies.csv')
movies[movies.movieId == best_movie_id].head()

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [8]:
# открываю файл
power = pd.read_csv('power.csv')

In [9]:
# смотрю информацию о столбцах в файле
power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   country   1189482 non-null  object
 1   year      1189482 non-null  int64
 2   quantity  1189482 non-null  float64
 3   category  1189482 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [10]:
# смотрю список уникальных стран в файле - необязательный шаг
power['country'].unique()

array(['Austria', 'Belgium', 'Czechia', 'Finland', 'France', 'Greece',
       'Hungary', 'Italy', 'Korea, Republic of', 'Netherlands', 'Romania',
       'Serbia', 'Slovakia', 'Ukraine', 'United Kingdom', 'United States',
       'Brunei Darussalam', 'Bulgaria', 'Canada', 'Chile', 'Croatia',
       'Iran (Islamic Rep. of)', 'Jordan', 'Lithuania', 'Mexico', 'Oman',
       'Other Asia', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'Switzerland', 'T.F.Yug.Rep. Macedonia', 'Turkey', 'Uzbekistan',
       'Argentina', 'Colombia', 'Germany', 'Norway', 'Australia',
       'China, Macao SAR', 'Japan', 'Denmark', 'Ireland', 'Philippines',
       'Bangladesh', 'Eritrea', 'Ethiopia', 'Lesotho', 'Nepal', 'Niger',
       'Pakistan', 'Serbia and Montenegro', 'Tunisia', 'Botswana',
       'Georgia', 'Republic of Moldova', 'Peru', 'South Africa',
       'Iceland', 'Latvia', 'Luxembourg', 'Cuba', 'Kyrgyzstan',
       'Singapore', 'Thailand', 'United Arab Emirates', 'Uruguay',
       'Armenia', 'Fiji', "Korea, Dem.Ppl's.Rep.", 'Russian Federation',
       'Swaziland', 'Zimbabwe', 'Afghanistan', 'Antigua and Barbuda',
       'Azerbaijan', 'Bahamas', 'Belize', 'Bolivia (Plur. State of)',
       'Brazil', 'Burkina Faso', 'Cameroon', 'Cayman Islands',
       'Central African Rep.', 'China', 'Comoros', 'Congo', 'Costa Rica',
       "Côte d'Ivoire", 'Dem. Rep. of the Congo', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', 'Faeroe Islands', 'French Guiana',
       'Germany, Fed. R. (former)', 'Greenland', 'Guatemala', 'Guinea',
       'Guyana', 'Honduras', 'Indonesia', 'Israel', 'Jamaica', 'Jersey',
       'Kazakhstan', 'Kenya', 'Kuwait', "Lao People's Dem. Rep.",
       'Liberia', 'Libya', 'Malawi', 'Malaysia', 'Maldives', 'Mauritania',
       'Mayotte', 'Morocco', 'Myanmar', 'Namibia', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niue', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Sao Tome and Principe', 'Senegal', 'Seychelles',
       'Slovenia', 'Solomon Islands', 'Sri Lanka', 'Sudan (former)',
       'Suriname', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'United Rep. of Tanzania', 'Venezuela (Bolivar. Rep.)',
       'Yugoslavia, SFR (former)', 'Zambia', 'Algeria', 'Curaçao',
       'Gabon', 'Malta', 'Neth. Antilles (former)', 'Sierra Leone',
       'USSR (former)', 'Barbados', 'Benin', 'Chad', 'Djibouti',
       'French Polynesia', 'Ghana', 'Grenada', 'Guadeloupe', 'Haiti',
       'Iraq', 'Kiribati', 'Madagascar', 'Mali', 'Martinique',
       'Pacific Islands (former)', 'Palau', 'St. Helena and Depend.',
       'St. Vincent-Grenadines', 'Syrian Arab Republic', 'Uganda',
       'Yemen', 'Yemen, Dem. (former)', 'Burundi', 'India', 'Mauritius',
       'Mozambique', 'Nigeria', 'Réunion', 'Rwanda', 'Samoa', 'Somalia',
       'St. Kitts-Nevis', 'Viet Nam', 'Belarus', 'Cyprus', 'Cabo Verde',
       'Albania', 'Bahrain', 'Bosnia and Herzegovina',
       'China, Hong Kong SAR', 'Czechoslovakia (former)', 'Angola',
       'Bermuda', 'Bhutan', 'Equatorial Guinea', 'Lebanon',
       'Saudi Arabia', 'St. Lucia', 'St. Pierre-Miquelon',
       'State of Palestine', 'Tajikistan', 'German Dem. R. (former)',
       'Anguilla', 'Mongolia', 'Montenegro', 'Cambodia', 'South Sudan',
       'Sudan', 'Andorra', 'Aruba', 'Bonaire, St Eustatius, Saba',
       'British Virgin Islands', 'Dominica', 'Falkland Is. (Malvinas)',
       'Gambia', 'Gibraltar', 'Qatar', 'Sint Maarten (Dutch part)',
       'Turkmenistan', 'Turks and Caicos Islands', 'Vanuatu',
       'Guinea-Bissau', 'Micronesia (Fed. States of)', 'Timor-Leste',
       'Yemen Arab Rep. (former)', 'American Samoa', 'Liechtenstein',
       'Puerto Rico', 'Cook Islands', 'Guam', 'Guernsey', 'Isle of Man',
       'Marshall Islands', 'Montserrat', 'Nauru',
       'Northern Mariana Islands', 'Tuvalu', 'United States Virgin Is.',
       'Wallis and Futuna Is.',
       'Commonwealth of Independent States (CIS)', 'Antarctic Fisheries'],
      dtype=object)

In [11]:
# смотрю, какие года есть в файле - необязательный шаг
power['year'].unique()

array([1996, 1995, 2014, 2013, 2012, 2011, 2010, 2009, 1998, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1997, 1994, 1993,
       1992, 1991, 1990], dtype=int64)

In [12]:
# фильтрую файл по условиям по стране, годам, категориям и неотрицательным значениям quantity (все условия обязательные)
# в отфильтрованном датафрейме считаю сумму по столбцу quantity - вывожу ответ
filtered_power = power[ ((power['country']=='Lithuania') | (power['country']=='Latvia') | (power['country']=='Estonia')) 
                           & ((power['year']>=2005) &  (power['year']<=2010))
                           & ((power['category']==4) | (power['category']==12) | (power['category']==21))
                           &(power['quantity']>0)]

power_sum = filtered_power['quantity'].sum()
print(f'Суммарное потребление стран Прибалтики: {power_sum}')

Суммарное потребление стран Прибалтики: 240580.0

# Задание 3 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [17]:
# Импортирую нужную страницу в data_#, указываю блок и кодировку 
page_url_1 = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
dataframe_1 = pd.read_html(page_url_1, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [22]:
dataframe_1[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1020274      -              1020564
 1          NaN            EUR/RUB       892485      -               893945
 2          NaN            USD/RUB       736500      -               736765
 3          NaN            JPY/RUB        07018      -                07020
 4          NaN            CNY/RUB       114042      -               114049
 5          NaN            CHF/RUB       826071      -               825914
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12120      -                12136
 8          NaN            EUR/GBP        08783      -                08781
 9          NaN            EUR/JPY      1272200      -              1271950
 10         NaN            EUR/CHF        10807      -                10800
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08251      -                08251
 13         NaN            USD/GBP        07219      -                07217
 14         NaN            USD/JPY      1049400      -              1047560
 15         NaN            USD/CHF        08916      -                08914
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07900      -                07900
 18         NaN            JPY/GBP        00069      -                00069
 19         NaN            JPY/USD        00095      -                00095
 20         NaN    JPY/CHF (100:1)        08500      -                08500
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13853      -                13853
 23         NaN            GBP/JPY      1453734      -              1453702
 24         NaN            GBP/EUR        11430      -                11387
 25         NaN            GBP/CHF        12345      -                12294
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12345      -                12294
 28         NaN            EUR/CHF        10807      -                10800
 29         NaN    JPY/CHF (100:1)        08500      -                08500
 30         NaN            USD/CHF        08916      -                08914
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       338741      -               338617
 33         NaN            USD/UAH       279500      -               279398
 34         NaN            CHF/UAH       313493      -               313297
 35         NaN            GBP/UAH       387192      -               387134

           %  Абсолютное значение       Время
 0   -0,03 %               -00290  13.02.2021
 1   -0,16 %               -01460  13.02.2021
 2   -0,04 %               -00265  13.02.2021
 3   -0,03 %               -00002  13.02.2021
 4   -0,01 %               -00007  13.02.2021
 5    0,02 %                00157  13.02.2021
 6         %  Абсолютное значение       Время
 7   -0,13 %               -00016  13.02.2021
 8    0,02 %                00002  13.02.2021
 9    0,02 %                00250  13.02.2021
 10   0,06 %                00007  13.02.2021
 11        %  Абсолютное значение       Время
 12   0,00 %                00000  13.02.2021
 13   0,02 %                00002  13.02.2021
 14   0,18 %                01840  13.02.2021
 15   0,02 %                00002  13.02.2021
 16        %  Абсолютное значение       Время
 17  -0,02 %                00000  13.02.2021
 18   0,00 %                00000  13.02.2021
 19  -0,02 %                00000  13.02.2021
 20  -0,01 %                00000  13.02.2021
 21        %  Абсолютное значение       Время
 22   0,00 %                00000  13.02.2021
 23   0,00 %                00032  13.02.2021
 24   0,38 %                00043  13.02.2021
 25   0,42 %                00051  13.02.2021
 26        %  Абсолютное значение       Время
 27   0,42 %                00051  13.02.2021
 28   0,06 %                00007  13.02.2021
 29  -0,01 %                00000  13.02.2021
 30   0,02 %                00002  13.02.2021
 31        %  Абсолютное значение       Время
 32   0,04 %                00124  13.02.2021
 33   0,04 %                00102  13.02.2021
 34   0,06 %                00196  13.02.2021
 35   0,02 %                00058  13.02.2021  ]

In [19]:
# Импортирую нужную страницу в data_#, указываю блок и кодировку 
page_url_2 = 'https://www.cbr.ru/currency_base/daily/'
dataframe_2 = pd.read_html(page_url_2, attrs = {'class': 'data'}, encoding='utf-8')

In [21]:
dataframe_2[:5]

[    Цифр. код Букв. код  Единиц                                    Валюта  \
 0          36       AUD       1                      Австралийский доллар
 1         944       AZN       1                     Азербайджанский манат
 2          51       AMD     100                          Армянских драмов
 3         933       BYN       1                         Белорусский рубль
 4         975       BGN       1                            Болгарский лев
 5         986       BRL       1                          Бразильский реал
 6         348       HUF     100                       Венгерских форинтов
 7         410       KRW    1000                      Вон Республики Корея
 8         344       HKD      10                      Гонконгских долларов
 9         208       DKK       1                             Датская крона
 10        840       USD       1                                Доллар США
 11        978       EUR       1                                      Евро
 12        356       INR      10                           Индийских рупий
 13        398       KZT     100                       Казахстанских тенге
 14        124       CAD       1                          Канадский доллар
 15        417       KGS     100                          Киргизских сомов
 16        156       CNY       1                            Китайский юань
 17        498       MDL      10                           Молдавских леев
 18        934       TMT       1                   Новый туркменский манат
 19        578       NOK      10                           Норвежских крон
 20        985       PLN       1                           Польский злотый
 21        946       RON       1                             Румынский лей
 22        960       XDR       1     СДР (специальные права заимствования)
 23        702       SGD       1                       Сингапурский доллар
 24        972       TJS      10                         Таджикских сомони
 25        949       TRY       1                             Турецкая лира
 26        860       UZS   10000                           Узбекских сумов
 27        980       UAH      10                         Украинских гривен
 28        826       GBP       1  Фунт стерлингов Соединенного королевства
 29        203       CZK      10                              Чешских крон
 30        752       SEK      10                             Шведских крон
 31        756       CHF       1                         Швейцарский франк
 32        710       ZAR      10                    Южноафриканских рэндов
 33        392       JPY     100                              Японских иен

        Курс
 0    571983
 1    435184
 2    141089
 3    286281
 4    457734
 5    137769
 6    249289
 7    669051
 8    953655
 9    120377
 10   739378
 11   896052
 12   101565
 13   176362
 14   580405
 15   877942
 16   114487
 17   424430
 18   211553
 19   869703
 20   198784
 21   183623
 22  1066479
 23   557012
 24   648862
 25   105161
 26   702110
 27   265653
 28  1019824
 29   347967
 30   886874
 31   829550
 32   503670
 33   704337  ]